body {
  background-color: var(--primaryColorLight);
}

#navContainer {
  background-color: var(--secondaryColorLight);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

#lightMode .lightModeCircle {
  border: 2px solid var(--color2);
}

.description, #shopping, .cartItem {
  background-color: var(--gray2);
}

.tagDiv {
  color: var(--color1);
}

.tag {
  background-color: var(--secondaryColorDark);
}

#shopping {
  border: 3px solid var(--color1);
}

#searchBar, .quantity, .total {
  background-color: var(--primaryColorLight80);
}

#shopping h2 {
  border-bottom: 2px solid var(--color2);
}

#shoppingList {
  background-color: var(--color1);
}