#navContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

#navBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
}

#lightMode {
  position: relative;
  left: 130px;
}

#lightMode .lightModeCircle {
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline-block;
}

#products {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag {
  display: inline-block;
}

.addToCart {
  display: inline-block;
  align-self:flex-end;
}

#shopping {
  position: absolute;
  top: 15%;
  left: 75%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#searchBar input {
  position: relative;
  top: -5px;
}

#searchBar button {
  position: relative;
  top: -2px;
}

#shoppingInfo {
  display: flex;
  flex-wrap: wrap;
}

.cartItemDesc {
  display: inline-block;
  position: relative;
  top:-10px;
}

.cartItemDesc .nameStrong {
  display: block;
}

.cartItem .removeItem {
  position: relative;
  top: -15px;
}