body {
  font-family: 'Inter', sans-serif;
}

#lightMode, .button {
  font-size: 18px;
  line-height: 40px;
}

.gameTitle {
  font-size: 18px;
}

.gameDescription, .addToCart {
  font-size: 14px;
}

#searchBar input {
  font-style: italic;
  font-size: 16px;
}

.cart {
  vertical-align: middle;
}

#shoppingInfo {
  font-weight: 500;
}

.number, .value {
  text-align: end;
}

.cartItem .removeItem {
  font-size: 16px;
  font-weight: 500;
}

#lightMode, .button, .addToCart, #shopping h2 {
  text-align: center;
}

#navButtons, #products, #shoppingList {
  list-style: none;
}