:root {
  --primaryColorLight: #ff1616;
  --primaryColorLight80: #ff161680;
  --primaryColorDark: #cc0000;

  --secondaryColorLight: #fff;
  --secondaryColorDark: #333333;

  --gray1: #828282;
  --gray2: #f5f5f5;

  --color1: #fff;
  --color1-80: #fff8;
  --color2: #000;

}