/* Navegação */
.button:focus {
  border: none;
}

.button:hover {
  background-color: var(--primaryColorLight);
  transform: scale(1.1);
  font-weight: 500;
  transition-duration: 0.2s;
  color: var(--color1)
}

.button:not(.button:hover) {
  background-color: var(--color1);
  font-weight: 400;
  transition-duration: 0.2s;
}

#lightMode:hover {
  transform: scale(1.1);
  font-weight: 600;
  transition-duration: 0.2s;
}

/* Vitrine */
.item:hover {
  border: 3px solid var(--color1);
  transform: translateY(-2px);
  transition-duration: 0.5s;
  overflow: hidden;
}

.item:not(.item:hover) {
  border: 3px solid var(--color1-80);
  transform: translateY(2px);
  transition-duration: 0.5s;
}

.addToCart:hover {
  background-color: var(--primaryColorLight80);
  text-decoration: underline;
  transition-duration: 0.4s;
}

.addToCart:not(.addToCart:hover) {
  background-color: var(--color1);
  transition-duration: 0.4s;
}

#searchButton:hover {
  background-color: var(--color1);
  border: 2px solid var(--primaryColorLight);
  transform: scale(1.1);
  transition-duration: 0.2s;
}

#searchButton:not(#searchButton:hover) {
  background-color: var(gray2);
  border: none;
  transform: scale(1);
  transition-duration: 0.2s;
}

.removeItem:hover {
  color: var(--primaryColorLight);
  text-decoration: underline;
  cursor: pointer;
}